/*-------------*\
|*Header Styles*|
\*-------------*/

.container-content{
    background-color: $bg-content;
    padding: 0px 20px;

    @include respond-to(735px){
        padding: 0px;
    }
}
.user{
    display: flex;
    justify-content: center;
    margin-top: 81px;
    padding-top: 60px;

    @include respond-to(735px){
        padding: 30px 16px 0px 16px;
    }

    &__container{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, calc(935px / 3)));
        grid-template-areas: "image userInformation userInformation"
                             "image follow follow"
                             "image resume resume";

        @include respond-to(735px){
            grid-template-columns: auto 1fr 1fr;
            grid-template-areas: "image userInformation userInformation"
                                 "resume resume resume"
                                 "follow follow follow";
        }
    }

    &__avatar{
        display: flex;
        justify-content: center;
        margin-right: 28px;
        grid-area: image;

        @include respond-to(735px){
            margin-right: 0;
        }
    }
    
    &__information{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        grid-area: userInformation;

        @include respond-to(735px){
            display: grid;
            justify-content: flex-start;
            margin-left: 28px;
            grid-template-areas: "nombre elipsis"
                                 "following chevron";
        }
    }

    &__name{
        margin-right: 20px;
        font-weight: 300;
        font-size: 32px;
        
        @include respond-to(735px){
            grid-area: nombre;
            font-weight: 400;
            font-size: 22px;
            min-width: 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    &__followers{
        display: flex;
        margin-bottom: 20px;
        grid-area: follow;

        @include respond-to(735px){
            border-top: 1px solid $bd-follow-list;
            border-bottom: 1px solid $bd-follow-list;
            padding: 12px 0;
            margin-bottom: 0;
        }
    }

    &__followers-list{
        display: flex;
        list-style: none;

        @include respond-to(735px){
            justify-content: space-around;
            width: 100%;
        }
    }

    &__followers-list strong{
        font-weight: 600;

        @include respond-to(735px){
            font-size: 14px;
        }
    }

    &__followers-list li{
        margin-right: 40px;

        @include respond-to(735px){
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            font-size: 14px;
            color: $bg-follow-list;
        }
    }

    &__description{
        grid-area: resume;

        @include respond-to(735px){
            margin: 20px 0;
        }
    }

    &__description h2{
        font-size: 16px;
        font-weight: 600;

        @include respond-to(735px){
            font-size: 14px;
        }
    }
    &__description p{
        @include respond-to(735px){
            font-size: 14px;
        }
    }
}
.circle{
    width: 170px;
    @include respond-to(735px){
        width: 90px;
    }

    &__image{
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
    }
}