/*Header Styles*\
\*---Pending---*/

.container-content{
    background-color: #fafafa;
    padding: 0 20px;
    @include respond-to(735px){
        padding: 0;
    }
}
.user{
    display: grid;
    grid-template-columns: minmax(0,935px);
    justify-content: center;
    margin-top: 78px;

    &__container{
        display: grid;
        grid-template-areas: "image name"
                             "image follow"
                             "image resume";
        margin-top: 60px;

        @include respond-to(735px){
            display: grid;
            grid-template-areas: "image name name"
                                 "resume resume ."
                                 "follow follow follow";
            margin-top: 30px;
        }
    }
    &__avatar{
        display: flex;
        justify-content: center;
        max-width: 293px;
        margin-right: 28px;
        grid-area: image;

        @include respond-to(735px){
            justify-content: flex-start;
            margin-left: 16px;
            width: auto;
        }
    }
    
    &__information{
        display: flex;
        align-items: center;
        max-width: 490px;
        margin-bottom: 20px;
        grid-area: name;

        @include respond-to(735px){
            display: grid;
            justify-content: flex-start;
            width: 100%;
            grid-template-areas: "nombre elipsis"
                                 "bnormal chevron";
            grid-area: name;
        }
    }
    &__name{
        margin-right: 20px;
        font-weight: 300;
        font-size: 32px;
        min-width: 10px;
        @include respond-to(735px){
            grid-area: nombre;
            font-size: 22px;
            font-weight: 400;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &__followers{
        display: flex;
        max-width: 490px;
        margin-bottom: 20px;
        grid-area: follow;
        @include respond-to(735px){
            justify-content: space-around;
            width: 100%;
            max-width: initial;
            border-top: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
            padding: 12px 0;
        }
    }
    &__followers-list{
        display: flex;
        max-width: 490px;
        list-style: none;
        @include respond-to(735px){
            justify-content: space-around;
            max-width: initial;
            width: 100%;
        }
    }
    &__followers-list strong{
        font-weight: 600;
        @include respond-to(735px){
            font-size: 14px;
            color: black;
        }
    }
    &__followers-list li{
        margin-right: 40px;
        @include respond-to(735px){
            margin: 0;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            align-items: center;
            color: #999999;
        }
    }
    &__followers-list li:last-child{
        margin-right: 0;
    }
    &__description{
        grid-area: resume;
        max-width: 490px;
        @include respond-to(735px){
            margin: 20px 16px;
        }
    }
    &__description h2{
        font-size: 18.5px;
        font-weight: 600;
        @include respond-to(735px){
            font-size: 14px;
        }
    }
    &__description p{
        @include respond-to(735px){
            font-size: 14px;
        }
    }
}
.circle{
    width: 170px;
    @include respond-to(735px){
        width: 90px;
    }

    &__image{
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
    }
}