/*VARIABLES*/

/*COLORES*/
$white: #ffffff;
$black: #000000;
$bg-follow-list: #999999;
$gray-light: #5e5e5e;
$bg-content: #fafafa;
$bd-follow-list: #efefef;
$opacity-line: rgba(0,0,0,0.1);
$transparent: rgba(0,0,0,0);